<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254808712492-av25gf5unfqafadbl8j1p1ktep13ushi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254808712492-av25gf5unfqafadbl8j1p1ktep13ushi</string>
	<key>API_KEY</key>
	<string>AIzaSyBMy8bVWurTLoTqgmWiEm9vKlGouvtG1JU</string>
	<key>GCM_SENDER_ID</key>
	<string>254808712492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codefox.quizzle</string>
	<key>PROJECT_ID</key>
	<string>quizapp-3107f</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-3107f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254808712492:ios:0a6a5e66aea3d01d15b889</string>
</dict>
</plist>